<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>matricula</title>
</head>
<body>
    <header class="header">
		<div class="container">
		<div class="btn-menu">
			<label  for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<h1>user</h1>
			</div>
			<nav class="menu">
				

				<a href="#">Contacto</a> 
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">Perfil</a>
			<a href="./principal.html">principal</a>
			<a href="./index.html">cerra sesion</a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</body>
</html>