<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/Regsitro.css">
    <title>Regsitro </title>
</head>

<body style=" background-image: url(../img/sebas2.jpg);background-size: 100vw 100vh;background-repeat: no-repeat;">

  <header class="header">
		<div class="container">
		<div class="btn-menu">
		
		</div>
		
			<nav class="menu">
				<a href="./index.html">Login</a>

				<a href="#">Contacto</a> 
			
			</nav>
		</div>
	</header>
<div class="container-form">
   
 <form id="register-form" method="post">
  <div class="form-group">
    <label for="DNI"> Identificacion</label>
    <input id="DNI" name="DNI" type="text" placeholder="ingrese su identificacion">
  </div>
  <div class="form-group">
    <label for="nombre"> Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="ingrese su identificacion">
  </div> <div class="form-group">
    <label for="apellido"> Apellido</label>
    <input type="text" id="apellido" name="apellido" placeholder="ingrese su identificacion">
  </div> <div class="form-group">
    <label for="cumple"> fecha de nacimiento</label>
    <input id="cumple" name="cumple" type="date" >
  </div> <div class="form-group">
    <label for="telefono"> telefono</label>
    <input type="text" id="telefono" name="telefono"  placeholder="ingrese su numero de telefono">
  </div> <div class="form-group">
    <label for="email"> email</label>
    <input type="email" id="email" name="email" placeholder="ingrese su correo">

  </div>

  <div class="form-group">
    <label for="register-form"> contraseña</label>
    <input type="password" id="pass" name="pass" placeholder="ingrese su contraseña">
  </div>
  <div class="form-group">
    <label for="passconfirmar"> confirmacion de contraseña</label>
    <input id="passconfirmar" name="passconfirmar" type="password" placeholder="confimre su contraseña">
  </div>
  <footer>
    <button type="submit"> Registrar</button>
    <a href="../views/index.html">ya tienes cuenta? </a>
  </footer>
</form>

</div>
  
<footer id="pie-pagina" style="background-color: rgb(red, green, blue);">

</footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="../js/validate_registro.js"></script>
</html>